
.ofp-slider {
    max-width: 100%;
    margin: auto;
    padding: 0;
    display: block;
    position: relative;
}

.ofp-slides {
    width: 100%;
    height: 100%;
}

.ofp-slides > * {
    max-width: 100%;
}

.ofp-slides-text {
    padding: 20px 12px 20px;
}

.ofp-slides.slide-visible {
    display: block;
    opacity: 1;
}

.ofp-slides.slide-invisible {
    display: none;
    opacity: 0;
}

/**
 *   Navigation
 */

.ofp-slider-navigation {
    /*padding: 8px 4px;*/
    position: absolute;
    color: #fff;
    margin: 0;
    /*margin-top: 12px;*/
    /*margin-bottom: 0.25em;*/
}

/**
* no additional margin if navigation elements are positioned at the middle
 */
.ofp-slider-navigation.ofp-middle {
    margin-top: 0;
    margin-bottom: 0;
}

.ofp-slider-dots-active {
    color: #fff;
    background-color: #fff !important;
}

.ofp-slider-dots {
    display: inline-block;
    height: 13px;
    width: 13px;
    padding: 0;
    color: #fff;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc !important;
}

.ofp-arrow-left, .ofp-arrow-right {
    cursor: pointer;
    margin: 0 6px;
    font-size: 1.2em;
}

@media all and (max-width: 520px) {
    .ofp-slider-dots {
        height: 16px;
        width: 16px;
    }

    .ofp-arrow-left, .ofp-arrow-right {
        font-size: 1.8em;
    }
}

.ofp-arrow-left {
    float: left;
}

.ofp-arrow-right {
    float: right;
}

.ofp-top-left > .ofp-arrow-left {
    margin-left: 0;
}

.ofp-top-right > .ofp-arrow-right {
    margin-right: 0;
}

/**
 * Alignment for navigation elements
 */
.ofp-center {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.ofp-top-left {
    position: absolute;
    left: 2%;
    top: 12px;
}

.ofp-top-right {
    position: absolute;
    right: 2%;
    top: 12px
}

.ofp-bottom-left {
    position: absolute;
    left: 0;
    bottom: 12px;
}

.ofp-bottom-right {
    position: absolute;
    right: 0;
    bottom: 12px;
}

.ofp-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.ofp-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}

.ofp-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}

.ofp-top-middle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

.ofp-bottom-middle {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

/** Animations **/
.swing-in-right-fwd {
    -webkit-animation: swing-in-right-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-right-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
.swing-in-left-fwd {
    -webkit-animation: swing-in-left-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-left-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2017-10-22 18:53:40
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-left-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-left-fwd {
    0% {
        -webkit-transform: rotateY(100deg);
        transform: rotateY(100deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
}
@keyframes swing-in-left-fwd {
    0% {
        -webkit-transform: rotateY(100deg);
        transform: rotateY(100deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
}

@-webkit-keyframes swing-in-right-fwd {
    0% {
        -webkit-transform: rotateY(-100deg);
        transform: rotateY(-100deg);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 1;
    }
}
@keyframes swing-in-right-fwd {
    0% {
        -webkit-transform: rotateY(-100deg);
        transform: rotateY(-100deg);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 1;
    }
}

